<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="plot.css">
    <title>Document</title>
</head>
<body>
    <h1>Plot</h1>

    <h2><%= graph_data[1] %></h2>
    <h2 id="equation"><%= graph_data[3] %></h2>

    <label for="xvalue">x = </label>
    <input type="text" id="x_input">
    <p id="y_value">y =</p>

    <img src="<%= graph_data[0] + graph_data[1] + graph_data[2]%>" >

    <form action="/graphs" method="get">
        <button>Go to your saved graphs.</button>
    </form>
    
</body>
<script src="yvalue.js"></script>
</html>